
*{
    margin: 2px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    color:  rgb(255, 255, 255);
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    z-index: 10;
}

header h1{
    color: rgb(0, 213, 255);
    text-align: left;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

header nav a{
    color: rgb(50, 4, 50);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    text-align: right;
    margin-top: 10px;
}

.hero h2{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(57, 0, 78, 0.555), rgba(98, 159, 181, 0.383)), url(../img/tecnologia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100;
    height: 80vh;
    padding: 30px;
}


.hero a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgb(50, 4, 50);
    display: inline-block;
    padding: 10px;
    margin-top: 100px;
    margin-left: 150px;
    border-radius: 20px;
    position: absolute;
    bottom: 30px;
    transition-property: border;
    transition-duration: 8s;
    transition-timing-function: steps(5, end);
    transition-delay: 8s;
}

.hero a:hover{
    border-radius: 5px;
    color:rgb(50, 4, 50);
}


.emprendedor{
    color:  rgb(255, 255, 255);
    padding: 30px;
    background-color:rgba(85, 23, 85, 0.839);
}

.emprendedor h2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 35px;
}

    .emprendedor p{
    margin-top: 40px;
    color:rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}

.nosotros{
    margin-top: 10px;
}

.nosotros h3{
    color: rgb(50, 4, 50);
    margin-left:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    }

.grid-nosotros{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 10px;
}

.grid-nosotros div img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    -webkit-box-shadow: 15px 13px 17px -9px rgba(0, 0, 0, 0.392);
    -moz-box-shadow: 15px 13px 17px -9px rgba(0, 0, 0, 0.396);
    box-shadow: 15px 13px 17px -9px rgba(0, 0, 0, 0.308);
}

#Planes{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

#Planes h3{
    background-color:  rgba(85, 23, 85, 0.839);
    margin-top: 70px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    font-weight: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Planes ul li{
    color:rgb(50, 4, 50);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 50;
    margin-top: 10px;
    margin-left: 30px;
}

#Planes a{
    text-decoration: none;
    color: rgb(205, 235, 246);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color:rgb(50, 4, 50);
    padding: 10px;
    margin-left: 815px;
    margin-right: 40px;
    border-radius: 20px;
    margin-top: -80px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    transition-property: border;
    transition-duration: 8s;
    transition-timing-function: steps(5, end);
    transition-delay: 6s;
}

#Planes a:hover{
    border-radius: 5px;
}

#Planes div ul{
    border: 2px solid rgb(50, 4, 50);
    border-radius: 20px;
    font-size: 25px;
}


.grid-planes{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-auto-rows: 250px;
}

.grid-planes div{
    width: 100%;
    height: 100%;
}


#Proceso div{
    margin-top: 40px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#Proceso img{
    text-align: center;
    width: 80px;
    height: 80px;
}

#Proceso h4{
    color: rgb(50, 4, 50);
    font-size: 25px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid-proceso{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
}

.grid-item-proceso img{
    transition: 1s;
    width: 100%;
    height: 100%;
}

.grid-item-proceso img:hover{
    transform: translateY(-40px);
}

.equipo{
    height: 400px;
    background-color:rgb(50, 4, 50);
    color:  rgb(255, 255, 255);
    padding: 30px;
    margin-top: 90px;
    position: sticky;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.equipo div h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 45px;
    font-weight: 300;
}

.equipo div p{
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: right;
    margin-top: 10px;
}

.equipo div a{
    transition-property: border;
    transition-duration: 8s;
    transition-timing-function: steps(5, end);
    transition-delay: 6s;
    background-color: rgba(85, 23, 85, 0.839);
    color: rgb(255, 255, 255);
    justify-content: end;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
    margin-left: 100px;
    margin-right: 80px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center
}

.equipo div a:hover{
    border-radius: 5px;
}


footer{
    margin-top: 80px;
    background-color: rgba(85, 23, 85, 0.839);
    height: 130px;
    color:  rgb(0, 213, 255);
    text-align: right;
}
footer h3{
    color:rgb(205, 235, 246);
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: left;
    margin-left: 10px;
}
div a img{
    transition: 2s;
    width: 45px;
    height: 45px;
}
div a img:hover{
    transform:translateY(-20px)
}


div p{
    color: rgb(50, 4, 50);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:15px ;
    font-weight: 10px;
    text-align: right
}









/* RESPONSIVE */

@media screen and (max-width:975px){
    .hero h2{
        font-size: 60px;
        font-weight: 200px;
    }
    .hero a{
        margin-left: 150px;
        bottom: -155px;
        border-radius: 20px;
    }
    .emprendedor h2{
        font-size: 25px;
    }
    .emprendedor p{
        font-size: 14px;
    }
    #Planes ul li{
        font-size: 14px;
    }
    #Planes a{
        margin-left: 500px;
        bottom: 10px;
        font-size: 12px;
        border-radius: 50px;
    }
    #Proceso img{
        width: 60px;
        height: 60px;
    }
    #Proceso h4{
        font-size: 15px;
    }
    .equipo div h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left;
        font-size: 35px;
        font-weight: 300;
    }
    
    .equipo div p{
        color: rgb(255, 255, 255);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        text-align: right;
        margin-top: 10px;
    }
    .equipo div a{
        border-radius: 50px;
        margin-top: 30px;
        margin-left: 240px;
        margin-right: 100px;
    }
    footer h3{
        color: rgb(0, 213, 255);
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        text-align: left;
        margin-left: 10px;
    }
    footer div a img{
        transition: 2s;
        width: 40px;
        height: 40px;
    }
    footer div a img:hover{
        transform:translateY(-20px)
    }
    footer div p{
        color: rgb(50, 4, 50);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:12px ;
        font-weight: 10px;
        text-align: right;
    }
}


@media screen and (max-width:890px){
    #Planes a{
        margin-left: 500px;
        bottom: 10px;
        font-size: 12px;
        border-radius: 50px;
    }
}

@media screen and (max-width:872px){
    #Planes a{
        margin-left: 450px;
        bottom: 10px;
        font-size: 12px;
        border-radius: 50px;
    }
    .equipo div a{
        border-radius: 50px;
        margin-top: 30px;
        margin-left: 200px;
        margin-right: 100px;
    }
}

@media screen and (max-width:820px){
    #Planes a{
        font-size: 10px;
    }
}

@media screen and (max-width:750px){
    #Planes ul li{
        font-size: 16px;
        margin-top: 10px;
        margin-left: 15px;
    }
    #Planes a{
        font-size: 9px;
        margin-left: 395px;
        margin-top:-65px;
    }
    .equipo div p{
        font-size: 15px;
        margin-top: 12px;
    }
    .equipo div a{
        border-radius: 50px;
        margin-top: 30px;
        margin-left: 150px;
        margin-right: 50px;
        font-size: 12px;
    }
    .equipo div h2{
        font-size: 30px;
        font-weight: 280px;
    }
}

@media screen and (max-width:700px){
    .hero h2{
        font-size: 50px;
        font-weight: 100px;
    }
    .hero a{
        font-size: 15px;
        margin-left: 130px;
        bottom: -185px;
        border-radius: 18px;
    }
    .grid-nosotros{
        width: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        gap: 70px;
    }
    #Planes a{
        font-size: 9px;
        margin-left: 345px;
        margin-right: 50px;
        margin-top:-85px;
    }
    #Planes ul li{
        font-size: 13px;
        margin-top: 8px;
        margin-left: 10px;
    }
    .equipo div h2{
        font-size: 28px;
    }
    .equipo div p{
        font-size: 14px;
        margin-top: 10px;
    }
    .equipo div a{
        margin-top: 25px;
        margin-left: 170px;
        margin-right: 60px;
        font-size: 11px;
    }
}

@media screen and (max-width:650px){
    #Planes a{
        margin-left: 300px;
        margin-right: 35px;
        margin-top:-65px;
        padding: 12px;
    }
    #Planes ul li{
        font-size: 12px;
        margin-top: 8px;
        margin-left: 8px;
    }
}
@media screen and (max-width:600px){
    .hero h2{
        font-size: 50px;
    }
    .hero a{
        font-size: 12px;
        margin-left: 110px;
        bottom: -175px;
        border-radius: 17px;
    }
    #Planes a{
        margin-left: 50px;
        margin-right: 50px;
        margin-top:-8px;
        padding: 10px;
    }
    #Planes ul li{
        font-size: 12px;
        margin-top: 10px;
    }
    #Proceso h4{
        font-size: 14px;
    }
    .equipo div h2{
        font-size: 28px;
    }
    .equipo div p{
        font-size: 12px;
        margin-top: 8px;
    }
    .equipo div a{
        margin-top: 20px;
        margin-left: 120px;
        margin-right: 50px;
        font-size: 10px;
    }
}
@media screen and (max-width:560px){
    .equipo div p{
        font-size: 11px;
        margin-top: 8px;
    }
    .equipo div a{
        margin-top: 15px;
        margin-left: 90px;
        margin-right: 60px;
        font-size: 10px;
    }
}
@media screen and (max-width:500px){
    .hero h2{
        font-size: 45px;
    }
    .hero a{
        font-size: 11px;
        margin-left: 112px;
        bottom: -150px;
        border-radius: 18px;
    }
    .nosotros h3{
    font-size: 18px;
    }
    .grid-planes{
        column-gap: 60px;
    }
    #Planes h3{
        margin-top: 100px;
        font-size: 22px;
        font-weight: 200px;
        bottom: 30px;
    }
    #Planes a{
        margin-left: 90px;
        margin-right: 90px;
        margin-top:-12px;
        padding: 6px;
    }    
    #Proceso h4{
        font-size: 12px;
        margin-top: 50px;
    }
    #Proceso img{
        width: 40px;
        height: 40px;
    }
    .equipo{
        height: 200px;
        margin-top: 45px;
    }
    .equipo div h2{
        font-size: 21px;
    }
    .equipo div p{
        font-size: 10px;
        margin-top: 7px;
    }
    .equipo div a{
        margin-top: 12px;
        margin-left: 100px;
        margin-right: 60px;
        font-size: 8px;
    }
    footer h3{
        font-size: 20px;
    }
    footer div a img{
        width: 25px;
        height: 25px;
    }
    footer div p{
        font-size: 8px;
    }
}
@media screen and (max-width:450px){
    .hero h2{
        font-size: 40px;
    }
    .hero a{
        font-size: 10px;
        margin-left: 100px;
        bottom: -120px;
    }
    .nosotros h3{
        font-size: 15px;
        }
    #Planes h3{
        font-size: 20px;
    }
    #Planes ul li{
        font-size: 11px;
        margin-top: 6px;
        margin-left: 1px;
    }
    #Planes a{
        margin-left: 35px;
        margin-right: 90px;
        margin-top:-11px;
        padding: 5px;
    } 
    .grid-planes div{
        width:120%;
        height: 120%;
    }
    .equipo{
        height: 170px;
        margin-top: 35px;
    }
    .equipo div h2{
        font-size: 18px;
    }
    .equipo div p{
        font-size: 8px;
        margin-top: 9px;
    }
    .equipo div a{
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 20px;
        font-size: 7px;
        padding: 5px;
    }
    .emprendedor h2{
        font-size: 21px;
    }
    footer{
        height: 90px;
    }
    footer h3{
        font-size: 14px;
    }
    footer div a img{
        width: 22px;
        height: 22px;
    }
}

@media screen and (max-width:400px){
    #Planes{
        margin-left: 50px;
    }
    #Planes ul li{
        font-size: 10px;
    } 
    #Proceso h4{
        font-size: 10px;
        margin-top: 40px;
    }
    #Proceso img{
        width: 30px;
        height: 30px;
    }    
    .equipo div h2{
        font-size: 16px;
    }
    .equipo div p{
        font-size: 7px;
        margin-top: 8px;
    }
    .equipo div a{
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 30px;
        font-size: 6px;
    }
}
@media screen and (max-width:350px){
    .hero h2{
        font-size: 32px;
    }
    .hero a{
        font-size: 10px;
        margin-left: 100px;
        bottom: -150px;
    }
    .emprendedor h2{
        font-size: 16px;
    }
    .emprendedor p{
        font-size: 10px;
        margin-top: 18px;
    }
    #Proceso h4{
        font-size: 8px;
        margin-top: 25px;
    }
    #Proceso img{
        width: 18px;
        height: 18px;
    }
    .equipo{
        height: 150px;
        margin-top: 30px;
    }
    .equipo div h2{
        font-size: 15px;
    }
    .equipo div p{
        font-size: 6px;
        margin-top: 7px;
    }
    footer h3{
        font-size: 14px;
    }
    footer div a img{
        width: 20px;
        height: 20px;
    }
    footer div p{
        font-size: 7px;
    }
}
