.footer{
    background-color: rgb(50, 4, 50);
    color:  rgb(205, 235, 246);
    text-align: right;
    h3{
        color:  rgb(205, 235, 246);
        font-size: 35px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        text-align: left;
        margin-left: 10px;
        div{
            a{
                img{
                    width: 45px;
                    height: 45px;
                }
            }
            p{
                color:   rgb(205, 235, 246);
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size:15px ;
                font-weight: 10px;
                text-align: right
            }
        }
    }
}